.icon{
    text-transform: uppercase;
    font-size: 88px;
    font-weight: 900;
    margin-top: 5px;
    color: $pink;
    transform: rotate(-10deg);

    filter: drop-shadow(-4px 4px 0px #97f4ab);
    transition: all ease-in-out 0.3s;

    &:hover{
        font-size: 98px;
    }
}