.navbarContainer{
    position: fixed;
    top: 0;
    width: 95%;
    height: 100px;
    z-index: 99;
    background-color: transparent;
    border-bottom: 1px solid #fefce1a3;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &__username{
        margin: 0 auto;
        text-align: center;
        font-size: 200%;
        font-weight: 600;
        text-transform: uppercase;
    }

    &__links, &__icon, &__username{

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        li{
            padding: 0 10px;
            list-style: none;
            font-size: 100%;
            font-weight: 500;
            color: $white;
        }
    }

    &__links{
        position: absolute;
        right: 0;
        
        .navLink{
            cursor: pointer;
            text-transform: uppercase;
            transition: all ease-in-out 0.3s;
            &:hover{
                font-size: 110%;
                // filter: drop-shadow(-1px 1px 0px $pink);
            }

            .link{
                text-decoration: none;
                color: $white;
                border-radius: 25px;
                padding: 10px;
            }

            .lastLink{
                border: 2px solid $white;
            }
        }
    }

    &__icon{
        content: 'Z';
        position: absolute;
        left: 0;
        font-size: 25px;
        font-weight: 800;
        cursor: pointer;
    }
}